div {
  background-color: lightseagreen;
  height: 15;
  width: 200;
  margin-left: 200px;
  margin-right: 80px;
  margin-bottom: 100px;
  margin-top: 100px;
}
img {
  height: 600px;
  width: 600px;
}
#left {
  text-align: left;
}

#right {
  color: black;
  position: absolute;
  top: 30%;
  width: 63%;
  text-align: right;
  font-size: 200%;
  font-family: sans-serif;
  font-weight: 100;
}
#center {
  color: black;
  position: absolute;
  top: 34%;
  width: 119%;
  text-align: center;
  font-size: 200%;
  font-family: sans-serif;
  font-weight: 100;
}

#top {
  color: black;
  position: absolute;
  top: 42%;
  width: 115%;
  text-align: center;
  font-size: 110%;
  font-family: sans-serif;
  font-weight: 100;
}

#bottom {
  color: black;
  position: absolute;
  top: 92%;
  width: 15%;
  text-align: center;
  font-size: 130;
  font-family: sans-serif;
  font-weight: 100;
}
